<div class="clr"></div>
<div class="mainContent" style="margin-top:50px;">
    <form class="uk-form" method="post" action="@Url.Action("Index","Home")">
        <section class="paymentsuccess-2 mb20">
            <div class="uk-container uk-container-center">
                <div class="box_cart">

                    <div class="uk-grid uk-grid-medium">
                        <div class="uk-width-medium-2-10">
                        </div>
                        <div class="uk-width-medium-6-10">
                            <div class="uk-panel completed">
                                <header class="panel-head">

                                    <h1 class="heading uk-text-center"><span class="text"><i class="fa fa-check"></i> Đặt hàng thành công</span></h1>
                                </header>
                                <div class="panel-body">
                                    <div class="thank mb20">Cảm ơn <strong>Chị  s</strong> đã cho CÔNG TY TNHH THẾ GIỚI ĐIỆN LẠNH GIA ĐÌNH cơ hội được phục vụ. Nhân viên sẽ liên hệ lại với anh để xác nhận thông tin đặt hàng trong 5 phút.Anh chị vui lòng check email để xác nhận đơn hàng</div>

                                    <div class="support">Trước khi giao nhân viên sẽ gọi cho anh để xác nhận. Khi cần trợ giúp vui lòng gọi <a href="tel:0974.028.279" title="" class="link">0974.028.279</a> hoặc <a href="tel:0435 627 671 - 0435 627 670 - 0435 627 672 - Mr kha : 0974.028.279" title="" class="link">0435 627 671 - 0435 627 670 - 0435 627 672 - Mr kha : 0974.028.279</a> (7h30 - 22h)</div>
                                </div><!-- .panel-body -->
                            </div><!-- .uk-panel -->
                        </div><!-- .uk-width -->
                        <div class="uk-width-medium-2-10">
                        </div>
                    </div><!-- .uk-grid -->
                    <div class="uk-text-center mt20">
                        <input type="submit" value="Tiếp tục mua hàng" class="confirm" name="confirm">
                    </div>
                </div>
            </div>
        </section><!-- .paymentsuccess-2 -->
        <!-- </html> -->
    </form>
</div>
<div class="clr"></div>
<div class="clr"></div>
