<?xml version="1.0" encoding="utf-8" ?>
<site
	contentPath="content/"
	acceptedCultures="vi-VN,en-US"
	defaultCultureName="vi-VN"
  >
	<ui topicsPerPage="10"
      
      defaultPerPage="10"
		listNewsPerPage="7"
		  tagsCloudCount="30"
		  messagesPerPage="10"
		  showUserDetailsOnList="true"
		  defaultForumSort="LatestActivity"
		  dateFormat="dd/MM/yyyy | hh:mm">
		<template
				useTemplates="true">
			<mobile
					  regex="(up.browser|up.link|mmp|symbian|smartphone|midp|wap|phone|windows ce|pda|mobile|mini|palm|ipad|android)" />
		</template>
		<resources
				jqueryUrl="~/scripts/jquery-1.7.1.min.js"
			/>
		<!-- can be local paths or external urls (CDNs)-->
	</ui>

	<authenticationProviders fakeProvider="false">
		<facebook
				apiKey="193764998758" secretKey="6a8514f4093423c306d3302ebfbb43ef" />
		<!-- Now the appId is used for apiKey -->
		<twitter
				apiKey="CxdsBh3NtNf98V3bj929bA" secretKey="px83sxrlYVFkhwr0zT9Vb73SQToM4SY2TsxKqH78dE" />
		<!--<ssoOpenid
			identifier="http://login.yoursite.com" />-->
		<formsAuth
				defined="true" timeToExpireResetPasswordLink="48" />
		<!--<customDb
			connectionStringName="YourDb"
			storedProcedure="SP_Nearforums_AuthenticateUser"
			registerUrl="http://yourmainsite.com/register/"
			forgotPasswordUrl="http://yourmainsite.com/forgot-password/"
			allowChangeEmail="false"
			accountEditUrl="http://yourmainsite.com/account/"
			/>-->
	</authenticationProviders>
	<replacements>
		<add pattern="(?&lt;=^|\s|&gt;)(#(\d+))"
				 replacement="&lt;a href=&quot;#msg$2&quot; class=&quot;fastQuote&quot;&gt;[$1]&lt;/a&gt;" />
		<add pattern=":\)"
					 replacement="&lt;img src=&quot;http://mail.google.com/mail/help/images/whatsnew/emoji_smile.gif&quot; alt=&quot;smile&quot; /&gt;" />
	</replacements>
</site>