@{
    ViewBag.Title = "Hẹn lịch sửa chữa";
}

<div class="row" style="margin-top:25px">
    <div class="col-lg-6">
        <div class="titlecate" style="margin-bottom:20px;">Cảm ơn bạn đã gửi hẹn lịch sửa chữa cho chúng tôi</div>
		
    </div>
    <div class="col-lg-6">
		<div id="map-canvas" style="width:100%; height:400px"></div>
	</div>
</div>