@{
    ViewBag.Title = "Đóng góp ý kiến";
}

<div class="row" style="margin-top:25px">
    <div class="col-lg-6">
        <div class="titlecate" style="margin-bottom:20px;">
            Cảm ơn bạn đã gửi liên hệ cho chúng tôi
        </div>

    </div>
</div>


